p { 
	text-align: center; 	

} 
h1 {
	color: #131923;
	font-size: 80px;
	font-style: italic;
	text-align: center;
}

.img-circle { 
	border-radius: 50%;
	width: 50%;
	display: block;
	margin: auto; 
}

.tutorial {
	color:  #131923 
	font-size: 500px; 
}

body { 
	 background-color: #e8e9ea; 
}
