p { 
	text-align: center; 	

} 
h1 {
	color: #131923;
	font-size: 80px;
	font-style: italic;
	text-align: center;
}

.img-circle { 
	border-radius: 30%;
	width: 30%;
	display: block;
	margin: auto; 
}

.tutorial {
	color:  #131923 
	font-size: 500px; 
}

.info {
	margin: 50px 0 0 0;
	padding: 20px;
}
.img-cirlce2 {
	border-radius: 30;
	width: 30;
	display: block;
	margin: auto;
}

body { 
	 background-color: #e8e9ea; 
}
