p { 
	text-align: center; 	

} 
h1 {
	color: #131923;
	font-size: 80px;
	font-style: italic;
	text-align: center;
}

.img-circle { 
	border-radius: 30%;
	width: 30%;
	display: block;
	margin: auto; 
}

.tutorial {
	font-size: 30px;
	color:  #131923 
	font-size: 500px; 
}

.info {
	font-size: 20px;
	margin: 50px 0 0 0;
	padding: 20px;
}
.merinfo { 
font-size: 20px;
margin: 50px 1 1 1;
padding: 30px
}

.img-circle3 {
	border-radius: 50%;
	width: 40%;
	display: block;
	margin: auto;
}
.img-cirlce2 {
	border-radius: 50%;
	width: 20%;
	height: 20%;
	

.img-circle5 {
	border-radius: 50%;
	width: 40%;
	display: block;
	margin: auto;
}
	
}
.slutet {
	font-style: italic;
}

body { 
	 background-color: #ba607b; 
}
